<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.awoolim.mapper.AdminMapper">
    <select id="userList" resultType="com.kh.awoolim.domain.Member">
        select * from member
    </select>
	<select id="findById" resultType="Admin" parameterType="String">
		SELECT * FROM ADMIN WHERE USEREMAIL = #{email}
	</select>

</mapper>